<div class="detail-section">
    <div class="container-fluid">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-10" style="margin-bottom: 110px;">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                            class="img-fluid" style="margin-bottom: 70px;" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">


                            <!-- Email input -->
                            
                            <input type="text" formControlName="emailAddress" class="form-control form-control-lg"
                                placeholder="Enter email address" />
                            <div *ngIf="loginFormGroup.controls['emailAddress'].invalid && (loginFormGroup.controls['emailAddress'].dirty || loginFormGroup.controls['emailAddress'].touched)"
                                class="alert alert-danger mt-1">
                                <div
                                    *ngIf="loginFormGroup.controls['emailAddress'].errors['required'] || loginFormGroup.controls['emailAddress'].errors['notOnlyWhitespace']">
                                    Email address is required!
                                </div>
                                <div *ngIf="loginFormGroup.controls['emailAddress'].errors['pattern']">
                                    Email must be a valid email address format
                                </div>
                            </div>
                            <label class="form-label" for="emailAddress">Email address</label>



                            <!-- Password input -->
                            
                            <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Enter password" />
                            <div *ngIf="loginFormGroup.controls['password'].invalid && (loginFormGroup.controls['password'].dirty || loginFormGroup.controls['password'].touched)"
                                class="alert alert-danger mt-1">
                                <div
                                    *ngIf="loginFormGroup.controls['password'].errors['required'] || loginFormGroup.controls['password'].errors['notOnlyWhitespace']">
                                    Password is required!
                                </div>
                                <div *ngIf="loginFormGroup.controls['password'].errors['pattern']">
                                    Password must be a valid format (use upper and lower case letters, digits and at least one speacial character)
                                </div>
                            </div>
                            <label class="form-label" for="password1">Password</label>


                            <div>
                                <p>Don't have an account? </p>
                                <button routerLink="/register" type="button" class="btn btn-primary" style="margin-right: 100px;">Register</button>
                                <button (click)="onSubmit()" class="btn btn-primary" style="margin-right: 84px;">Log in</button>
                                <button routerLink="/admin-login" type="button" class="btn btn-primary">Admin</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>