    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">

        <tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                    <tr>
                        <td align="center" style="color: #343434; font-size: 24px; font-family: Quicksand, Calibri, sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px;"
                            class="main-header">
                            <!-- section text ======-->

                            <div style="line-height: 35px">

                                Welcome to the <span style="color: #5caad2;">A-Z Smart Home</span>

                            </div>
                        </td>
                    </tr>

                

                    <tr>
                        <td align="left">
                            <table border="0" width="590" align="center" cellpadding="0" cellspacing="0" class="container590">
                                <tr>
                                    <td align="left" style="color: #888888; font-size: 16px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;">
                                        <!-- section text ======-->

                                        <p style="line-height: 24px; margin-bottom:15px;">

                                            {{username}},

                                        </p>
                                        <p style="line-height: 24px;margin-bottom:15px;">
                                            Great news, you will now be the first to see exclusive previews of our latest products 
                                            and get the most up to date news in the world of smart home products.
                                        </p>
                                        <p style="line-height: 24px; margin-bottom:20px;">
                                            You can access our products using the link below.
                                        </p>
                                        <table border="0" align="center" width="180" cellpadding="0" cellspacing="0" bgcolor="5caad2" style="margin-bottom:20px;">

                                            <tr>
                                                <td align="center" style="color: #ffffff; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 22px; letter-spacing: 2px;">
                                                    <!-- main section button -->

                                                    <div style="line-height: 22px;">
                                                        <a routerLink="/products" style="color: #ffffff; text-decoration: none;">Products</a>
                                                    </div>
                                                </td>
                                            </tr>


                                        </table>
                                        <p style="line-height: 24px">
                                            Love,
                                            The A-Z Smart Home team
                                        </p>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590 bg_color">

                    <tr>
                        <td align="center">
                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590 bg_color">

                                            <tr>
                                                <!-- logo -->
                                                <td align="left" style="border-bottom: 40;">
                                                    <a href=""><img height="100" src="http://localhost:4200/assets/images/logo.png" alt="" /></a>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td align="left" style="color: #888888; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 23px;"
                                                    class="text_color">
                                                    <div style="color: #333333; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; font-weight: 600; mso-line-height-rule: exactly; line-height: 23px;">

                                                        Email us: <br/> <a href="mailto:" style="color: #888888; font-size: 14px; font-family: 'Hind Siliguri', Calibri, Sans-serif; font-weight: 400;">contact@azsmarthome.com</a>

                                                    </div>
                                                </td>
                                            </tr>

                            </table>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>

    </table>

   
   

  